<li class="gallery__item">
    <div class="photo-card">
        <img data-bigPhoto="{{largeImageURL}}" class="photo-card__img" width="400" height="250" src="{{webformatURL}}"
            alt="" />
    </div>
</li>